# Hoist packages that need to be available at runtime from any location
public-hoist-pattern[]=dd-trace
public-hoist-pattern[]=@datadog/*
public-hoist-pattern[]=newrelic
public-hoist-pattern[]=@newrelic/*
public-hoist-pattern[]=@nestjs/*
